#cartPage .cart-product-list-wrap { border-top: 2px solid #111; border-bottom: 2px solid #111; } 
#cartPage .cart-product-list-wrap .cart-product-list { display: flex; align-items: center; padding: 10px 0; border-bottom: 2px solid #111; } 
#cartPage .cart-product-list-wrap .cart-product-list:last-child { border-bottom:none; } 
#cartPage .cart-product-list-wrap .cart-p-thumb { width: 100px; margin-right: 20px; } 
#cartPage .cart-product-list-wrap .cart-p-detail { font-weight: bold; font-size: 15px; display: flex; justify-content: space-between; width: 100%; } 
#cartPage .cart-product-list-wrap .left-info .title { margin-bottom: 10px; } 
#cartPage .cart-product-list-wrap .left-info .option-list>li { line-height: 1.3; color: #525252; font-size: 14px; } 
#cartPage .cart-product-list-wrap .left-info .price { margin-top: 10px; } 
#cartPage .cart-product-list-wrap .right-info { text-align: right; margin-bottom: 7px; display: flex; flex-direction: column; align-items: flex-end; justify-content: space-between; } 
#cartPage .cart-product-list-wrap .right-info .delete-cart-p { background: #000; color: #fff; width: 60px; height: 27px; font-size: 15px; cursor: pointer; margin-top: 10px; } 
#cartPage .no-datas { text-align: center; margin: 50px 0; font-size: 20px; font-weight: bold; } 
#cartPage .remove-all { padding:0 10px; background: #ff4d3f; color: #fff; height: 36px; font-size: 16px; cursor: pointer; margin-bottom: 17px; display: block; margin-left: auto; margin-top: 21px; } 
#cartPage .calculate-all { margin-top: 50px; font-size: 30px; font-weight: bold; display: flex; justify-content: flex-end; } 
#cartPage .calculate-all > p { text-align: right; } 
#cartPage .calculate-all > p.con-box { margin-left: 50px; } 
#cartPage .calculate-all > p > span { display: block; } 
#cartPage .purchase-btn { width: 200px; font-size: 20px; height: 40px; color: #fff; border: 2px solid #111; background: #000; cursor: pointer; float: right; margin-top: 15px; } 

@media (max-width: 700px){
 #cartPage .cart-product-list-wrap .cart-p-detail { font-size: 13px; } 
 #cartPage .cart-product-list-wrap .left-info .option-list>li { font-size: 13px; } 
 #cartPage .cart-product-list-wrap .cart-p-thumb { width: 75px; margin-right: 10px; } 
 #cartPage .cart-product-list-wrap .right-info .delete-cart-p { width: 50px; height: 25px; font-size: 13px; } 
 #cartPage .remove-all { height: 32px; font-size: 14px; } 
 #cartPage .calculate-all { font-size: 20px; } 
 #cartPage .purchase-btn { width: 150px; height: 35px; font-size: 18px; } 
 }
 